$standard-color: black;
$standard-height: 100px;
$standard-width: 100px;
$standard-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$standard-fontsize: 18px;

$standard-position: absolute;
$standard-visibility: hidden;
