@import 'variables';

@mixin center {
  align-items: center;
  justify-content: center;
}



html{
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;

  body {
    margin: 20px 0;
    background: $standard-white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto 50px;

    header{
      grid-column: 1 / 10;
      grid-row: 1 / 4;
      

      h1{
        display: flex;
        flex-direction: column;
        @include center();
        grid-row: 1 / 2;
        font-size: 72px;
        font-family: $standard-font;
        text-shadow: 3px 0 $standard-color;
        color: #965d5d;
        margin: 0px;
        background-image: url('img/card2.png');
      }

      section {
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        flex-direction: row;
        grid-row: 2 / 3;
        grid-column: 2 / 8;
        font-size: 24px;
        font-family: $standard-font;
        color: $standard-color;
        margin: 0px;

        .restart{
          background-color: $standard-color;
          font-size: $standard-fontsize;
          font-family: $standard-font;
          color: #fdfcfa;
          padding: 5px;
          visibility: $standard-visibility;
        }
      }
    }

    section{
      grid-column: 2 / 9;
      grid-row: 4 / 15;

      .grid {
        width: 100%;
        max-width: 800px;
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #5a5751;
        padding-top: 30px;
        padding-bottom: 30PX;
      }

      .card {
        position: relative;
        transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform-style: preserve-3d;
        margin: 7px;
        box-shadow: rgba(0,0,0,0.2) 0px 5px 15px;

        &:focus{
          outline: 5px solid $standard-white;
        }
      }
      
      .front {
        z-index: 2;
        background-image: url('img/card.png');
        position: $standard-position;
        backface-visibility: $standard-visibility;
      }

      .back {
        transform: rotateY(180deg);
        background-color: $standard-color;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        position: $standard-position;
        backface-visibility: $standard-visibility;
      }

      .card,
      .front,
      .back{
        height: $standard-height;
        width: $standard-width;
      }

      .selected {
        transform: rotateY(180deg);
      }

      .match {
        background: $standard-color;
        visibility: $standard-visibility;
      }
    }

    footer{
      grid-row: 17 / 21;
      grid-column: 1 / 10;
      background-image: url('img/card2.png');
      display: flex;
      @include center();

      a{
        grid-row: 17 / 21;
        grid-column: 2 / 8;
        color: black;
        text-decoration: none;
        font-family: $standard-font;
        font-weight: bold;
        font-size:$standard-fontsize;
      }
    }
  }
}